<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list *ngFor="let exercise of workoutPlan; let i = index">
      <set-list [index]="i" [exercise]="exercise"></set-list>
  </ion-list>
  

</ion-content>
