<div class="set-list-container">
    <ion-row>
        <span>{{exercise.exerciseName}}</span>
    </ion-row>
    <ion-row>
        <ion-col *ngFor="let set of exercise.sets" justify-content-center>
            <set [repGoal]="set.repGoal"></set>
        </ion-col>
    </ion-row>
</div>